#marketBox1{
    position: relative;
    display: flex;
    justify-content: center;
    gap: 110px;
    top: 120px;

}
#marketBox2{
    position: relative;
    display: flex;
    justify-content: center;
    gap: 100px;
    top: 120px;
}

#marketItem1{
    width: 240px;
}
#marketButton1{
    width: 250px;
    height: 75px;
    color:rgb(224, 171, 180);
    font-size: 35px;
    font-weight: bold;
    border-color: rgb(196, 133, 144);
    border-radius: 10px;
    border-width: 4px;
}
#marketButton1:hover{
    background-color: rgb(223, 223, 223);
}

#rollingCards{
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 580px;
    width: 700px;
    background-color: white;
    border-radius: 30px;
    border-style: solid;
    border-width: 10px;
    border-color: rgb(180, 131, 139);
}

#chosenCard{
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 270px;
    color: white;
}

#cardName{
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    color:  rgb(201, 147, 156);;
    font-weight: bold;
    white-space: nowrap;
}
#exitMarket{
    position:fixed;
    top:0;
    right:0;
    color: rgb(179, 85, 100);
    font-size: 100px;
    background: none;
    border: none;
}

@keyframes rotateAnimation {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.rotate-image {
    animation: rotateAnimation 5s linear;
    transform-origin: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}