#tradeBox {
    display: flex;
    position: relative;
    top: 20px;
    height: 620px;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

#tradeItem{
    position: relative;
    text-align: center;
    width: 50%;
    height: 100%;
}

#tradeInput{
    color: pink;
    font-weight: bold;
    border-color: rgb(228, 211, 225);
    background-color: white;
    border-width: 4px;
    border-radius: 10px;
    outline: none;
    font-size: 30px;
    text-align: center;
    width: 400px;
    height: 30px
}

#enterName{
    position: relative;
    top:40px;
    font-size: 30px;
    color: white;
    font-weight: bold;
}

.listUsername{
    color: white;
    font-size: 25px;
}

#displayNames{
    position: relative;
    top: 30px;
    color: white;
    font-size: 30px;
}

#tradeButton{
    border-color: rgb(228, 211, 225);
    background-color: rgb(248, 122, 216);
    margin-top: 50px;
    height: 40px;
    width: 200px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    position: relative;
}

#tradeButton:hover{
    background-color: rgb(209, 106, 183);
    cursor: pointer;
}

#tradeReq{
    position: relative;
    top:40px;
    font-size: 30px;
    color: white;
    font-weight: bold;
}

#tradingBackground {
    z-index: 2;
    position: fixed;
    top: 90px;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    background-color: pink;
    overflow-x: hidden;
}

#tradingSide {
    flex: 1;
    text-align: center;
    padding: 10px;
    overflow-y: auto;
}

#tradingMiddle {
    width: 25%;
    text-align: center;
}

.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cardsButton {
    display: block;
    margin: 5px;
    width: 150px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.cardsButton:hover {
    background-color: rgb(138, 231, 138);
}

#cardsImg {
    max-width: 100%;
    height: auto;
}

#cardsText {
    color: rgb(209, 92, 112);
    font-weight: bold;
}

#tradingMiddle{
    display: flex;
    flex-direction: column;
    background:rgb(245, 177, 188);
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 25px
}

#inputWon{
    height: 30px;
    font-size: 20px;
    text-align: center;
}

#submitTrade{
    margin-top: auto;
    margin-bottom: 30px;
    width: 300px;
    height: 70px;
    border-radius: 20px;
    border: none;
    background-color: rgb(255, 77, 187);
    font-size: 30px;
    color: white;
    font-weight: bold;
}

#submitTrade:hover{
    background-color: rgb(235, 103, 125);
    cursor: pointer;
}

#submitTrade1{
    margin-top: auto;
    margin-bottom: 30px;
    width: 280px;
    height: 70px;
    border-radius: 20px;
    border: none;
    background-color: rgb(115, 230, 105);
    font-size: 30px;
    color: white;
    font-weight: bold;
}

#submitTrade1:hover{
    background-color: rgb(112, 219, 85);
    cursor: pointer;
}

#submitTrade2{
    margin-top: auto;
    width: 280px;
    height: 70px;
    border-radius: 20px;
    border: none;
    background-color: rgb(238, 102, 102);
    font-size: 30px;
    color: white;
    font-weight: bold;
}

#submitTrade2:hover{
    background-color: rgb(224, 82, 82);
    cursor: pointer;
}

#leaveTrade{
    background: none;
    color: rgb(221, 95, 95);
    border: none;
    font-size: 80px;
}

#leaveTrade:hover{
    color: red;
    cursor: pointer;
}

#tradeReqButton{
    position: relative;
    top: 50px;
    background-color: white;
    border: none;
    border-radius: 5px;
    width: 300px;
    height: 150px;
    color: rgb(207, 138, 149);
    font-size: 30px;

}

#tradeReqButton:hover{
    background-color: rgb(240, 240, 240);
    cursor: pointer;
}

#reqTitleOffer{
    font-size: 30px;
    font-weight: bold;
    color: white;
}